 {
   padding: 0;
   margin: 0;
   box-sizing: border-box
}

ul {
list-style: none;
}
a{
  text-decoration: none;
}

body{
display: contents;
    font-family: 'Otomanopee One', sans-serif;
  font-size: 35px;
}


.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 125vh;
  color: darkgrey;
 background-color: black;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background-color: black;
  width: 100%;
  height: 110px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1rem;
}


.navli{
  display: contents;
}

.nav-item{
  display: block;
  font-size: 1.15rem;
  color: darkgrey;
  padding: 0.9rem 2rem;
  transition: all 1s;
}

.nav-item:hover{
  background-color: white;
}
.nav-logotipo{
  max-width: 100px;
}


.contac{
display: block;
text-align: justify;
  justify-content: flex-start;
  align-items:flex-start;
  height: 120px;
  color: darkgrey;
  margin-right: auto;
  margin-left:inherit;
  font-style: italic;
  }

.parrafo{
  display:grid;
  justify-content: center;
  align-items: center;
  height: 20px;
  font-style: italic;
  font-family: cursive;
  font-size: 25px;
}

.parf{
  display:contents;
  font-style: italic;
  font-family: cursive;
  font-size: 15px;
  height: auto;
}

.ubicacion{
  display:grid;
  justify-content: center;
  align-items: center;
  height: 20px;
  font-size: 15px;
  font-style: italic;
  font-family: cursive;
}



.label{
  justify-content: flex-start;
  align-items: flex-start;
}

.productos{
  margin: 1em;
  padding: 1em;
  float: left;
    object-fit: cover;
}

.produc img{
  width: 250px;
}

.produc img {
  margin: 1em;
  padding: 1em;
  float: left;
    object-fit: cover;
}


.produc h3{
  font-size: 1.1em;
  margin-top:1px;
  margin-bottom: 1px;
}


.main {
  background-image: url(https://4.bp.blogspot.com/-kS59NsfvaxM/WbXI0DYLwOI/AAAAAAAB5qo/cHKFEaC9UHoWc6K7Jf6tM2bVNRcvGGjiQCLcBGAs/s640/Tienda.jpg);
  width: 100% ;
  height: 100% ;
  position: absolute;
}

.titulo{
  display:flex;
  text-align: justify;
  justify-content: center;
  align-items: center;
  height: 250px;
  color: slategray;
  margin-right: auto;
  margin-left:inherit;
  text-shadow: 1px 3px 0px #6b251d, 1px 13px 5px rgb(171, 168, 168)
}

.card{
  background-color: black;
  }

.card-title{
  font-style: italic;

}

.card-text{
  font-style: italic;

}
